
<form class="form-inline" action="/post" method="post">  
    <input type="text" class="form-control" id="nomprenom" name="nom" placeholder="Enter votre nom">    
    <input type="text" class="form-control" name="clas" placeholder="classe">
    <input type="text" class="form-control" name="n_clas" placeholder="nouvelle classe">
    <div class="input-group">
      <span class="input-group-addon">fb</span>
      <input type="text" class="form-control" placeholder="Facebook username" name="fb">
    </div>
    <button class="btn" type="submit">Ajouter</button>
    </div>
  </form> 