<p>
	Demande de permutation de la part de <%=h @demande.nom %>
	cherche pour changé de la classe <%=h @demande.o_class %> vers la classe <%=h @demande.n_class %><br/>
	<a href="http://fb.com/<%=h @demande.fb %>">contact</a> 
</p>